#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background: transparent;
    z-index: 999;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    transition: 0.4s;
}

#header .h_c {
    display: none;
}

#header .h_w {
    display: inline;
}


#header .inner {
    display: flex;
    justify-content: space-between;
}

#header h1 {
    line-height: 90px;
}

#header h1 a {
    display: block;
}

#header .gnb {
    line-height: 90px;
}

#header .gnb>ul {
    display: flex;
    gap: 60px;
}

#header .gnb>ul>li>a {
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: #fff;

    letter-spacing: 1.5px;
    transition: 0.4s;
}

#header.on .gnb>ul>li>a,
#header.top .gnb>ul>li>a {
    color: #333;
}

#header .gnb>ul>li>a:hover {
    color: #0078c2;
}

#header .gnb>ul>li .menu_wrap {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    line-height: 50px;
    height: 0px;
    background: #fafafa;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    transition: 0.5s;
    display: none;
}

#header .gnb>ul>li:hover .menu_wrap {
    display: block;
    top: 90px;
    left: 0;
    right: 0;
    height: 50px;
}

.drop_menu {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 1200px;
    margin: 0 auto;
}



/* .on */
#header.on {
    background: #fff;
    height: 70px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

#header.on .h_c {
    display: inline-block;
    line-height: 70px;
}

#header.on .h_w {
    display: none;
}

#header.on .inner {}

#header.on h1 {
    line-height: 70px;

}

#header.on .gnb {
    line-height: 70px;
}

#header.on .gnb>ul>li .menu_wrap {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    line-height: 50px;
    height: 0px;
    background: #fafafa;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    transition: 0.5s;
    display: none;
}

#header.on .gnb>ul>li:hover .menu_wrap {
    display: block;
    top: 70px;
    left: 0;
    right: 0;
    height: 50px;
}


/* .top */

#header.top {
    background: #fff;
}

#header.top .h_c {
    display: inline-block;

    line-height: 90px;
}

#header.top .h_w {
    display: none;
}