html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#main_section01,
#main_section02,
#main_section03,
#main_section04 {
    height: calc(100vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;

}

#main_section02.sec,
#main_section03.sec,
#main_section04.sec {
    padding: 170px 0 100px 0;
}

.mainVisual {
    position: relative;

}


.mainVisual .visual_slide01 .main_itm {
    /* position: absolute; */
    height: 100vh;
    /* z-index: -1; */
}

.mainVisual .visual_slide01 .main_itm::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 10%, transparent 90%);
}

.mainVisual .visual_slide01 .main_itm {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 120% 120%;
}

.mainVisual .visual_slide01 .main_itm.on {
    background-size: 100% 100%;
    transition: 3s;
}

.mainVisual .visual_slide01 .m_itm01 {
    background-image: url(../img/m_slide01.jpg);
}


.mainVisual .visual_slide01 .m_itm02 {
    background-image: url(../img/m_slide02.jpg);
}

.mainVisual .visual_slide01 .m_itm03 {
    background-image: url(../img/m_slide03.jpg);
}

.main_itm .visual_txt {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    width: 1200px;
    margin: 0 auto;


    text-align: left;
    color: #fff;

}

.main_itm .visual_txt span {
    transform: translateY(-50px);
    display: block;
    font-size: 24px;
    opacity: 0;
    transition: 1s;
}

.main_itm.slick-active .visual_txt span {
    transform: translateY(0px);

    opacity: 1;
    transition-delay: 0.5s;
}

.main_itm .visual_txt h2 {
    transform: translateY(-50px);
    font-size: 62px;
    line-height: 1.29;
    font-weight: 700;
    margin: 20px 0 20px 0;
    opacity: 0;
    transition: 1s;

}

.main_itm.slick-active .visual_txt h2 {
    transform: translateY(0px);
    opacity: 1;
    transition-delay: 1s;
}


.main_itm .visual_txt p {
    transform: translateY(-50px);
    font-size: 24px;
    opacity: 0;
    transition: 1s;
}

.main_itm.slick-active .visual_txt p {
    transform: translateY(0px);

    opacity: 1;
    transition-delay: 1.5s;
}

.main_itm .visual_sub_text {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 1200px;
    margin: 0 auto;
    text-align: right;
    line-height: 1;
    color: #fff;
}


.main_itm .visual_sub_text strong {
    transform: translateY(-50px);
    position: relative;
    display: inline-block;
    font-size: 24px;
    margin: 0 0 30px 0;
    transition: 1s;
    opacity: 0;
}

.main_itm.slick-active .visual_sub_text strong {
    transform: translateY(0px);
    opacity: 1;
    transition-delay: 0.5s;
}

.main_itm .visual_sub_text strong::before {
    content: "";
    position: absolute;
    right: 250px;
    width: 24px;
    height: 24px;
    background: url(../img/mv_bar_ic01.png);
}

.main_itm .visual_sub_text strong::after {
    content: "";
    position: absolute;
    bottom: -15px;
    right: 0;
    width: 270px;
    height: 1px;
    background: #fff;
}

.main_itm .visual_sub_text span {
    transform: translateY(50px);
    display: inline-block;
    font-size: 18px;
    transition: 1s;
    opacity: 0;
}

.main_itm.slick-active .visual_sub_text span {
    transform: translateY(0px);
    opacity: 1;
    transition-delay: 1s;
}






.mainContent01 {
    background: url(../img/mainContent01_bg.jpg) no-repeat center center/cover;
}

.mainContent01 .inner .m_cont_tit {
    text-align: center;
    margin: 0 0 50px 0;
}

.mainContent01 .inner .m_cont_tit h2 {
    font-size: 45px;
    font-weight: 500;
    margin: 0 0 20px 0;
}

.mainContent01 .inner .m_cont_tit p {
    font-size: 20px;
    font-weight: 300;
}

.mainContent01 .inner .content01_itm {
    display: flex;
    gap: 30px;
    justify-content: space-between;

}

.mainContent01 .inner .content01_itm .con01_img {
    position: relative;
    overflow: hidden;
    background: #fff;
    height: 530px;
}

.mainContent01 .inner .content01_itm .con01_img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    transition: 0.4s;
}

.mainContent01 .inner .content01_itm .con01_img:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);

}

.mainContent01 .inner .content01_itm .con01_img img {
    height: 100%;
    transition: 0.4s;
}

.mainContent01 .inner .content01_itm .con01_img:hover img {
    transform: scale(1.1);
    transition: 0.4s;
}

.mainContent01 .inner .content01_itm .con01_img .content_text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 50px 40px;
    color: #fff;
    z-index: 2;
}

.mainContent01 .inner .content01_itm .con01_img .content_text strong {
    display: block;
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 30px 0;
    text-shadow: 0px 0px 1px #ccc;
}

.mainContent01 .inner .content01_itm .con01_img .content_text span {
    display: block;
    font-size: 18px;
}

.mainContent01 .inner .content01_itm .con01_img .content_link {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 50px 40px;
    color: #fff;
    z-index: 2;

    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
}

.mainContent01 .inner .content01_itm .con01_img:hover .content_link {
    visibility: visible;
    opacity: 1;
}

.mainContent01 .inner .content01_itm .con01_img .content_link a {
    display: block;
    border: 1px solid #fff;
    width: 200px;
    padding: 10px 20px;
    background: transparent;
    font-weight: 300;
    transition: 0.4s;
    color: #fff;
}

.mainContent01 .inner .content01_itm .con01_img .content_link a:hover {
    background: #fff;
    color: #333;
}

.mainContent01 .inner .content01_itm .con01_img .content_link a:first-child {
    margin: 0 0 10px 0;
}

.mainContent01 .inner .content01_itm .con01_img .content_link a i {
    float: right;
}

.mainContent02 {
    background: url(../img/mainContent02_bg.jpg) no-repeat center center/cover;
}

.mainContent02 .inner .content02_itm {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 50px 0;
}

.mainContent02 .inner .content02_itm .con02_img {
    position: relative;

    overflow: hidden;

    width: 290px;
    height: 210px;

}

.mainContent02 .inner .content02_itm .con02_img::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.4;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, black 100%);
    transition: 0.4s;
}

.mainContent02 .inner .content02_itm .con02_img:hover::after {
    z-index: 1;
    opacity: 0.7;
}



.mainContent02 .inner .content02_itm .con02_img img {
    width: 290px;
    height: 270px;
}

.mainContent02 .inner .content02_itm .con02_img .content_top_text {
    position: absolute;
    top: 0;
    left: 0;
}

.mainContent02 .inner .content02_itm .con02_img .content_top_text span {
    display: inline-block;
    background: #f36523;
    padding: 10px;
    width: 60px;

    text-align: center;
    font-size: 14px;
    color: #fff;

}

.mainContent02 .inner .content02_itm .con02_img:nth-child(3) .content_top_text span {
    background: #222;
    color: #fff;
}

.mainContent02 .inner .content02_itm .con02_img .content_bottom_text {
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    z-index: 2;
    transition: 0.4s;
}

.mainContent02 .inner .content02_itm .con02_img:hover .content_bottom_text {
    bottom: 0;
}

.mainContent02 .inner .content02_itm .con02_img .content_bottom_text p {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    padding: 20px 0;
}

.mainContent02 .inner .view {
    text-align: center;
    font-size: 0;
}

.mainContent02 .inner .view a {
    display: inline-block;
    width: 200px;
    line-height: 30px;

    border: 1px solid #00aeef;
    padding: 10px 20px;

    text-align: center;
    font-size: 16px;
    color: #00aeef;
    transition: 0.4s;
}

.mainContent02 .inner .view a:hover {
    color: #fff;
    background: #00aeef;
}

.mainContent03 {
    position: relative;
}

.mainContent03::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 75%;
    height: 100%;

    background: #0072bd no-repeat;
    z-index: -1;
}

.mainContent03 .inner::after {
    content: "";
    display: block;
    clear: both;
}

.mainContent03 .inner .m_cont_tit {
    padding: 200px 0;
    float: left;
    text-align: left;
    color: #fff;

    margin-bottom: 0;
}

.mainContent03 .inner .m_cont_tit h2 {
    font-size: 50px;
}

.mainContent03 .inner .m_cont_tit p {
    line-height: 1.5;
}

.mainContent03 .inner .content03_itm {
    float: right;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.mainContent03 .inner .content03_itm a {
    display: block;
    width: 380px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.mainContent03 .inner .content03_itm img {
    height: 400px;
}

.mainContent03 .inner .content03_itm .con03_img {
    position: relative;
}

.mainContent03 .inner .content03_itm .con03_img .con03_over {
    position: absolute;
    top: 20px;
    right: 20px;
}

.mainContent03 .inner .content03_itm .con03_img .con03_over span {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    background: #00aeef;

    text-align: center;
    font-size: 14px;
    font-weight: 100;
    color: #fff;
}

.mainContent03 .inner .content03_itm .content03_bottom_text {
    background: #fff;
    padding: 40px 30px;
}

.mainContent03 .inner .content03_itm .content03_bottom_text h3 {
    font-size: 24px;
    font-weight: 500;
    margin: 0 0 20px 0;
}

.mainContent03 .inner .content03_itm .content03_bottom_text p {
    font-size: 15px;
    color: #888;
    margin: 0 0 20px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mainContent03 .inner .content03_itm .content03_bottom_text strong {
    display: block;
    font-size: 22px;
    color: #837163;
}

.main_side_nav {
    position: fixed;
    top: 50%;
    left: 70px;
    transform: translate(0, -50%);
    z-index: 999;
}

.main_side_nav .page_nav li {
    position: relative;
    margin: 0 0 50px 0;
    cursor: pointer;
}

.main_side_nav .page_nav li:hover a {
    visibility: visible;
    opacity: 1;
}

.main_side_nav .page_nav li a {
    display: block;
    color: #fff;
    padding: 0 0 0 10px;
    visibility: hidden;
    opacity: 0;
    transition: 0.7s;
}

.main_side_nav .page_nav li a.on {
    display: block;
    color: #fff;
    visibility: visible;
    opacity: 1;
}

.main_side_nav .page_nav>li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translate(0, -50%);
    width: 20px;
    height: 20px;
    background: transparent;
    border: 1px solid#fff;
    border-radius: 50%;
    visibility: hidden;
    opacity: 0;
    transition: 0.7s;
    pointer-events: none;
}

.main_side_nav .page_nav>li:hover::before {
    width: 20px;
    height: 20px;
    visibility: visible;
    opacity: 1;
}

.main_side_nav .page_nav>li::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -17.5px;
    transform: translate(0, -50%);
    width: 5px;
    height: 5px;
    background: #fff;
    border-radius: 50%;
    pointer-events: none;
}

/* 스크롤 변화시 side nav */
.main_side_nav.on .page_nav>li>a {
    display: block;
    color: #333;
    padding: 0 0 0 10px;
    visibility: hidden;
    opacity: 0;
    transition: 0.7s;
}



.page_nav>li>a.active {
    display: block;
    color: #333;
    font-weight: 500;
    padding: 0 0 0 20px;

    visibility: visible;
    opacity: 1;
}


.main_side_nav.on .page_nav>li>a.on {
    display: block;
    color: #333;
    visibility: visible;
    opacity: 1;
}

.main_side_nav .page_nav>li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translate(0, -50%);
    width: 20px;
    height: 20px;
    background: transparent;
    border: 1px solid#fff;
    border-radius: 50%;
    visibility: hidden;
    opacity: 0;
    transition: 0.7s;
}

.main_side_nav.on .page_nav>li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translate(0, -50%);
    width: 20px;
    height: 20px;
    background: transparent;
    border: 1px solid#333;
    border-radius: 50%;
    visibility: hidden;
    opacity: 0;
    transition: 0.7s;
}

.main_side_nav .page_nav>li.active::before {
    width: 20px;
    height: 20px;
    visibility: visible;
    opacity: 1;
}

.main_side_nav.on .page_nav>li.active::before {
    width: 20px;
    height: 20px;
    visibility: visible;
    opacity: 1;
}

.main_side_nav.on .page_nav>li:hover::before {
    width: 20px;
    height: 20px;
    visibility: visible;
    opacity: 1;

}

.main_side_nav.on .page_nav>li::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -17.5px;
    transform: translate(0, -50%);
    width: 5px;
    height: 5px;
    background: #333;
    border-radius: 50%;
}

/* .main_side_nav .page_nav>li a.active {
    display: block;
    color: #333;
    font-weight: 500;
    padding: 0 0 0 20px;

    visibility: visible;
    opacity: 1;
} */

.main_side_nav .page_nav>li>a.active {
    display: block;
    color: #fff;
    font-weight: 500;
    padding: 0 0 0 20px;

    visibility: visible;
    opacity: 1;
}