/* 전역설정 */

.con_desc a:hover {
    border: 1px solid #00aeef;
    color: #00aeef;
}

.subpage_top {
    position: relative;
    /* js에서 주소값에 따라 백그라운드 변경
    background: url(../img/sub/sub_top02.jpg) no-repeat center center /cover; */
    height: 400px;
    z-index: -1;
}

.subpage_top .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.subpage_nav {
    position: relative;
    z-index: 9;
}

.subpage_nav .inner {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translate(-50%, 0);
    border: 1px solid#ddd;
    background: #fff;
}

.subpage_nav .inner>ul {
    display: flex;
    justify-content: flex-start;

}

.subpage_nav .inner>ul>li {
    position: relative;
    display: block;
    width: 300px;
    height: 70px;

    text-align: left;
    font-size: 18px;
    line-height: 70px;
    font-weight: 500;
    color: #777;
    cursor: pointer;
}

.subpage_nav .inner>ul>li:first-child {
    width: 70px;
}

.subpage_nav .inner>ul>li .main_home {
    position: relative;
    height: 70px;
    background: #00aeef;
    font-family: "xeicon";
    color: #fff;
}

.subpage_nav .inner>ul>li .main_home::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background: url(../img/sub/ic_home.png) no-repeat center center;
}


.subpage_nav .inner>ul>li>a {
    display: block;
    text-align: left;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    color: #777;
    padding: 20px 30px;
}

.subpage_nav .inner>ul>li:nth-child(2)>a {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.subpage_nav .inner>ul>li:nth-child(3),
.subpage_nav .inner>ul>li:nth-child(4) {
    border-right: 1px solid #ddd;
}

.subpage_nav .inner>ul>li:nth-child(2)::after,
.subpage_nav .inner>ul>li:nth-child(3)::after,
.subpage_nav .inner>ul>li:nth-child(4)::after {
    content: "\e941";
    position: absolute;
    top: 0;
    right: 30px;

    font-family: "xeicon";
    float: right;
}

.subpage_drop {
    position: absolute;
    top: 70px;
}

.subpage_drop>li {
    width: 300px;
    height: 0px;

    border: 1px solid#ddd;

    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
}

.subpage_drop>li~li {
    border-top: 0px;
}

.subpage_nav .inner>ul>li:hover .subpage_drop>li {

    height: 70px;
    background: #fff;
    visibility: visible;
    opacity: 1;

}

.subpage_drop>li>a {
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 70px;
    font-weight: 500;
    color: #777;
    transition: 0.4s;
}

.subpage_drop>li>a:hover {
    color: #00aeef;
}

.subpage_nav #sub_dep_company {
    display: none;
}

.subpage_nav #sub_dep_company.on {
    display: block;
}

.subpage_nav #sub_dep_business {
    display: none;
}

.subpage_nav #sub_dep_business.on {
    display: block;
}

/* 전역설정 */


.sub_company01_01 .company01_content .com01_content_top {
    padding: 50px 0;
    margin: 0 0 50px 0;
    text-align: center;

    background: url(../img/sub/company01_bg.jpg)no-repeat center center/cover;
}

.sub_company01_01 .company01_content .com01_content_top h2 {
    font-size: 25px;
    margin: 0 0 20px;
}

.sub_company01_01 .company01_content .com01_content_top p {
    font-size: 15px;
    color: #777;
    line-height: 1.3;
}

.sub_company01_01 .company01_content .com01_content_box {
    position: relative;
}

.sub_company01_01 .company01_content .com01_content_box::after {
    content: "";
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 320px;
    height: 440px;
    background: url(../img/sub/ceo.png) no-repeat center center/cover;
}

.sub_company01_01 .company01_content .com01_content_box .com01_desc {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.3;
    color: #888;
    margin: 0 0 30px 0;
}

.sub_company01_01 .signature {
    border-top: 1px solid #ddd;
    padding-top: 30px;
}

.sub_company01_01 .signature .sig_box {
    float: right;
}

.sub_company01_01 .signature .sig_box::after {
    content: "";
    display: block;
    clear: both;
}

.sub_company01_01 .signature .sig_box span {
    display: inline-block;
    font-size: 20px;
    margin-right: 30px;
    font-weight: 300;
}

.sub_company01_01 .signature .sig_box strong {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
}


.sub_business01_01 {
    position: relative;
    padding: 117.5px 0;
}

.sub_business01_01::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 330px;
    background: #f7f7f7;
    z-index: -3;
}

.sub_business01_01 .sb_con01_top {
    display: flex;
    justify-content: space-between;

}

.sub_business01_01 .sb_con01_top .left_content {
    width: 700px;
    height: 350px;
}

.sub_business01_01 .sb_con01_top .left_content.bus01 {
    background: url(../img/sub/sub_page01_img01.jpg) no-repeat center center /cover;
}

.sub_business01_01 .sb_con01_top .left_content.bus02 {
    background: url(../img/sub/sub_page02_img01.jpg) no-repeat center center /cover;
}

.sub_business01_01 .sb_con01_top .right_content {
    flex: 1;
    padding: 50px;
    background: #016cb3;
    color: #fff;
}

.sub_business01_01 .sb_con01_top .right_content span {
    display: block;
    font-size: 20px;
    font-weight: 300;
    /* margin: 0 0 40px 0; */
}

.sub_business01_01 .sb_con01_top .right_content span::after {
    content: "";
    display: block;
    width: 150px;
    height: 1px;
    background: rgba(255, 255, 255, 0.5);
    margin: 20px 0;
}

.sub_business01_01 .sb_con01_top .right_content p {
    font-size: 35px;
    line-height: 1.3;
    word-break: keep-all;
}

.sub_business01_01 .sb_con01_bottom {
    display: flex;
    justify-content: space-between;
}


.sub_business01_02 {}

.con_desc h3::before {
    content: "";
    display: block;
    width: 90px;
    height: 90px;
    background: #f1f4f9 no-repeat center center;
    border-radius: 50%;
    margin-bottom: 30px;
}

.sub_business01_02 .bus01_02_content01 .con_desc h3::before,
.sub_business01_02 .bus01_02_content05 .con_desc h3::before,
.sub_business01_02 .bus01_02_content09 .con_desc h3::before {
    background-image: url(../img/sub/sub_page01_img02before.png);
}

.sub_business01_02 .bus01_02_content02 .con_desc h3::before,
.sub_business01_02 .bus01_02_content06 .con_desc h3::before,
.sub_business01_02 .bus01_02_content10 .con_desc h3::before {
    background-image: url(../img/sub/sub_page01_img03before.png);
}

.sub_business01_02 .bus01_02_content03 .con_desc h3::before,
.sub_business01_02 .bus01_02_content07 .con_desc h3::before,
.sub_business01_02 .bus01_02_content11 .con_desc h3::before {
    background-image: url(../img/sub/sub_page01_img04before.png);
}

.sub_business01_02 .bus01_02_content04 .con_desc h3::before,
.sub_business01_02 .bus01_02_content08 .con_desc h3::before,
.sub_business01_02 .bus01_02_content12 .con_desc h3::before {
    background-image: url(../img/sub/sub_page01_img05before.png);
}



.sub_business01_02 .bus01_02con {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.sub_business01_02 .bus01_02con:last-child {
    margin-bottom: 0;
}

.sub_business01_02 .bus01_02con .con_img {
    width: 650px;
    height: 400px;
}

.sub_business01_02 .bus01_02_content01 .con_img {
    background: url(../img/sub/sub_page01_img02.jpg)no-repeat center center/cover;
}

.sub_business01_02 .bus01_02_content02 .con_img {
    background: url(../img/sub/sub_page01_img03.jpg)no-repeat center center/cover;
}

.sub_business01_02 .bus01_02_content03 .con_img {
    background: url(../img/sub/sub_page01_img04.jpg)no-repeat center center/cover;
}

.sub_business01_02 .bus01_02_content04 .con_img {
    background: url(../img/sub/sub_page01_img05.jpg)no-repeat center center/cover;
}

.sub_business01_02 .bus01_02_content05 .con_img {
    background: url(../img/sub/sub_page02_img02.jpg)no-repeat center center/cover;
}

.sub_business01_02 .bus01_02_content06 .con_img {
    background: url(../img/sub/sub_page02_img03.jpg)no-repeat center center/cover;
}

.sub_business01_02 .bus01_02_content07 .con_img {
    background: url(../img/sub/sub_page02_img04.jpg)no-repeat center center/cover;
}

.sub_business01_02 .bus01_02_content08 .con_img {
    background: url(../img/sub/sub_page02_img05.jpg)no-repeat center center/cover;
}

.sub_business01_02 .bus01_02_content09 .con_img {
    background: url(../img/sub/sub_page03_img01.jpg)no-repeat center center/cover;
}

.sub_business01_02 .bus01_02_content10 .con_img {
    background: url(../img/sub/sub_page03_img02.jpg)no-repeat center center/cover;
}

.sub_business01_02 .bus01_02_content11 .con_img {
    background: url(../img/sub/sub_page03_img03.jpg)no-repeat center center/cover;
}

.sub_business01_02 .bus01_02_content12 .con_img {
    background: url(../img/sub/sub_page03_img04.jpg)no-repeat center center/cover;
}

.sub_business01_02 .bus01_02con:nth-child(even) {
    position: relative;
}

.sub_business01_02 .bus01_02con:nth-child(even)::after {
    content: "";
    position: absolute;
    bottom: -100px;
    right: -100px;
    width: 220px;
    height: 220px;
    background: url(../img/sub/sub_page01_img_even_bg.png) no-repeat center center/cover;
    z-index: -9;
}

.sub_business03_01 {
    padding: 100px 0 0 0;
}


.sub_business03_01 .inner .bus03_nav {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ddd;
}

.sub_business03_01 .inner .bus03_nav>li {
    width: 300px;
    border-right: 1px solid #ddd;
}

.sub_business03_01 .inner .bus03_nav>li:last-child {
    border-right: none;
}

.sub_business03_01 .inner .bus03_nav>li>a {
    position: relative;
    display: block;
    text-align: center;
    padding: 20px 0;
    transition: 0.4s;
}

.sub_business03_01 .inner .bus03_nav>li>a:hover {
    color: #00aeef;
}

.sub_business03_01 .inner .bus03_nav>li>a:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    border: 1px solid #00aeef;
    z-index: 9;
    opacity: 0;
    transition: 0.4s;
}

.sub_business03_01 .inner .bus03_nav>li>a:hover:after {
    opacity: 1;
}

.bus03Last {
    background: url(../img/sub/sub_page03_img05_bg.jpg)no-repeat center center/cover;

}

.bus03Last .inner {
    display: flex;
    justify-content: space-between;
}

.bus03Last .inner .left {
    margin: auto;
    width: 48%;
    color: #fff;
}

.bus03Last .inner .left .tit img {
    margin: 0 0 10px 0;
}

.bus03Last .inner .left .tit strong {
    display: block;
}

.bus03Last .inner .left .tit strong::after {
    content: "";
    display: block;
    margin: 30px 0;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.5);
}

.bus03Last .inner .left .desc span {
    display: block;
    font-size: 20px;
    color: #00aeef;
    line-height: 1.3;
    margin: 0 0 20px 0;
}

.bus03Last .inner .left .desc p {
    font-size: 17px;
    line-height: 1.3;
    color: #ddd;
}

.con_desc .last-move {
    display: block;
    text-align: right;
    width: auto;
    padding: 0;
    border: none;
    color: #016cb3;
}

.con_desc .last-move:hover {
    border: none;
    color: #016cb3;
}

.con_desc .last-move::after {
    content: "";
    display: block;
    margin: 5px 0 0 auto;
    width: 230px;
    height: 1px;
    background: #016cb3;
}